<ul class="sg-colors">
		<li>
		<span class="sg-swatch" style="background: #0097ef;"></span>
		<span class="sg-label">
			$color-script-blue <br />
			#0097ef
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #007ed6;"></span>
		<span class="sg-label">
			$color-script-blue-dark <br />
			#007ed6
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #e31f1f;"></span>
		<span class="sg-label">
			$color-script-red <br />
			#e31f1f
		</span>
	</li>
</ul>
