<ul class="sg-colors">
	<li>
		<span class="sg-swatch" style="background: #ffffff;"></span>
		<span class="sg-label">
            $color-white <br />
            #ffffff
        </span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #f1efef;"></span>
		<span class="sg-label">
			$color-grey-extra-light <br />
			#f1efef
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #dbdbdb;"></span>
		<span class="sg-label">
			$color-grey-light <br />
			#dbdbdb
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #c5c5c5;"></span>
		<span class="sg-label">
			$color-grey <br />
			#c5c5c5
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #767676;"></span>
		<span class="sg-label">
			$color-grey-dark <br />
			#767676
		</span>
	</li>
	<li>
		<span class="sg-swatch" style="background: #333333;"></span>
		<span class="sg-label">
			$color-black <br />
			#333333
		</span>
	</li>
</ul>
